<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codesses.lgucircle">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LguCircle">
        <activity android:name=".activity.EventAC"></activity>
        <activity android:name=".activity.AuthorityAC"></activity>
        <activity android:name=".activity.Services.ConversationAC" />
        <activity android:name=".activity.Services.ServicesChatAC" />
        <activity android:name=".activity.Services.ServicesActivity" />
        <activity android:name=".activity.PostUploadAVActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.YourprofileActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".SplashActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IncubationActivity" />
    </application>

</manifest>